@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined");

.material-symbols-outlined {
  font-family: "Material Symbols Outlined";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Puedes ajustar esto */
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
}

.flight-type-button {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

.flight-type-button:hover {
  background-color: #f0f0f0;
}

.checkbox-container {
  width: 20px;
  height: 20px;
  border: 2px solid #007bff;
  border-radius: 50%;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox-circle {
  width: 12px;
  height: 12px;
  background-color: #007bff;
  border-radius: 50%;
  display: none;
}

.flight-type-button.selected .checkbox-circle {
  display: block;
}

.button-text {
  margin-right: 10px;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
